@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.home-img {
    animation: slideInFromLeft 2s ease-in-out;
}

.home-text1 {
    animation: slideInFromRight 1.5s ease-in-out forwards; 
}
.home-text2 {
    animation: slideInFromRight 2s ease-in-out forwards; 
}
.home-button {
    animation: slideInFromRight 2.5s ease-in-out forwards; 
}
.home-button2 {
    animation: slideInFromRight 3s ease-in-out forwards; 
}

.home-divider {
    animation: slideInFromRight 3s ease-in-out forwards; 
}



